<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <link
      rel="stylesheet"
      href="../../static/css/change_password/change_password_email.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 이메일 인증 폼 -->
      <div class="email-container">
        <div class="email-header">
          <h1>비밀번호 변경</h1>
          <span
            >비밀번호 재설정을 위한 인증 링크를 받을<br />
            이메일 주소를 입력해주세요.</span
          >
        </div>
        <div class="email-content-container">
          <h3 class="email-input-title">Email (ID)</h3>
          <div class="email-input-container">
            <input
              type="text"
              class="email-input"
              placeholder="name@example.com"
            />
          </div>
          <div class="email-send-button-container">
            <button type="button" class="email-send-button">send</button>
          </div>
        </div>
      </div>
      <!-- //이메일 인증 폼 -->
    </div>
  </body>
</html>
