<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <link
      rel="stylesheet"
      href="../../static/css/change_password/change_password_form.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 비밀번호 설정 폼 -->
      <div class="change-password-container">
        <div class="change-password-header">
          <h1>비밀번호 변경</h1>
          <span>비밀번호는 8~32자리의 문자 및 숫자로 구성되어야 합니다.</span>
        </div>
        <div class="change-password-form">
          <div class="password-input-container">
            <!-- 비밀번호 -->
            <div class="password-wrapper" id="passwordWrapper">
              <h3 class="password-title">Password</h3>
              <div class="password-container" id="passwordContainer">
                <input
                  type="password"
                  class="password-input"
                  placeholder="Enter Password"
                  id="password"
                />
                <img
                  src="../../static/images/icon/svg/View_hide_fill.svg"
                  alt="비밀번호 보기"
                  class="password-view"
                  draggable="false"
                />
              </div>
            </div>
            <!-- //비밀번호 -->

            <!-- 비밀번호 확인 -->
            <div class="password-wrapper" id="passwordConfirmWrapper">
              <h3 class="password-title">Confirm Password</h3>
              <div class="password-container" id="passwordConfirmContainer">
                <input
                  type="password"
                  class="password-confirm-input"
                  placeholder="Confirm Password"
                  id="password-confirm"
                />
                <img
                  src="../../static/images/icon/svg/View_hide_fill.svg"
                  alt="비밀번호 보기"
                  class="password-confirm-view"
                  draggable="false"
                />
              </div>
            </div>
            <!-- //비밀번호 확인 -->
          </div>
        </div>
        <div class="login-footer">
          <button type="button" class="login-button">login</button>
        </div>
      </div>
      <!-- //비밀번호 설정 폼 -->
    </div>

    <!-- script -->
    <script src="../../static/js/change_password/change_password_form.js"></script>
  </body>
</html>
