.email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 1px solid var(--border-light-color);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  gap: 20px;
  background-color: #fff;
  padding: 40px 80px;
}

.email-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.email-header h1 {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--primary-color);
}

.email-header span {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  color: var(--primary-color);
}

.email-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.email-input-title {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  text-align: start;
}

.email-input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid var(--border-light-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 15px;
}

.email-input {
  width: 90%;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
}

.email-send-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.email-send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background-color 0.3s;
}

.email-send-button:hover {
  background-color: var(--primary-button-hover-color);
}
